# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science,
- List commonly used libraries by Data Scientists,
- Examples of Data Science Tools, and
- Examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python,
2. R,
3. SQL,
4. Julia,
5. Scala,
6. MATLAB,
7. Java, and
8. SAS.

Some of the commonly used libraries used by Data Scientists include:
1. NumPy,
2. Pandas,
3. Matplotlib,
4. Scikit-learn,
5. TensorFlow,
6. Keras,
7. PyTorch,
8. Seaborn,
9. Plotly, and
10. NLTK (Natural Language Toolkit).

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Spyder                   |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [9]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Author
Kibrom M. Alula